:root {
    --font-heading: "Unica One", cursive;
    --font-paragraph-1: "Crimson Text", serif;
    --font-paragraph-2: "NTR", sans-serif;
    --bg-color-1: #fff;
    --bg-color-2: #e5e5e5;
    --btn-1: #cca43b;
    --dark-1: #242f40;
    --dark-2: #363636;
    /* Fonts and color-palette */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Keeps the size of the elements when changing margin, padding, etc. */
}

body {
    font-family: var(--font-paragraph);
    font-size: 1.6rem;
    line-height: 1.8;
    /* Line height */
}

header {
    font-family: var(--font-heading);
    font-size: 2rem;
    color: var(--btn-1);
}


/* GLOBALS */

.container {
    /* max-width: 120rem; */
    /* Max. size regardless resolution */
    /* width: 90%; */
    /* Width respecting side margins */
    width: min(90%, 120rem);
    /* This line contains the previous two that are commented out */
    margin: 0 auto;
    /* Centered display */
}

a {
    text-decoration: none;
    /* Gets rid of the default underline */
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
    line-height: 1.3;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-text {
    text-align: center;
}


/* Navigation bar */

.logo_size {
  width: 13rem;
  height: auto;
}

.nav__brdr {
    border-top: 1px solid #cca43b;
    padding-top: 1.5rem;
}

.link__brdr {
    border-right: 1px solid #cca43b;
}

.nav__pillss .nav-link.btn,
.nav__pillss .show>.nav-link {
    font-size: 2rem;
    color: #fff;
    background-color: #cca43b;
}

.btn:hover {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.aa {
    color: var(--btn-1);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.aa:hover {
    color: var(--dark-1);
    text-decoration: underline;
}

.logo__container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}


/* HOMEPAGE */

.intros__home {
    display: grid;
    gap: 4%;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .intros__home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }
}

.program__intro__tit {
    text-align: center;
    font-size: 5rem;
    color: var(--dark-1);
}

.program__intro {
    background-color: var(--bg-color-1);
    padding: 2%;
    border-radius: 0.5rem;
    border: #cca43b solid 1px;
}

.hyf__intro {
    background-color: var(--bg-color-2);
    padding: 2%;
    border-radius: 0.5rem;
    border: #cca43b solid 1px;
}

.program__intro__text {
    text-align: justify;
    font-size: 2rem;
}


/* HOMEPAGE */

.head__pic {
    height: 46rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://raw.githubusercontent.com/lab-antwerp-1/group1-HackYourFuture/master/assets/banner-2.jpg);
    margin-top: 15px;
}


/* footer */

.footer {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#cca43b, rgba(229, 229, 229, 0.493));
    /* general settings for footer */
}

.footer__logo {
    position: relative;
    width: 20%;
    min-width: 12%;
    padding-top: 1.2rem;
    padding-bottom: 0.4rem;
    padding-left: 2%;
    margin-left: auto;
    /* settings for footer logo */
}

.footer .footer__headline {
    font-family: var(--font-heading);
    line-height: 100%;
    color: var(--dark-1);
    font-size: 120%;
    padding-bottom: 0.6rem;
    padding-top: 1.2rem;
    /* settings for footer headline */
}

.footer .footer__address {
    font-family: var(--font-paragraph-2);
    list-style: none;
    color: var(--dark-2);
    font-size: 160%;
    line-height: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    /* settings for footer address list */
}

.footer .footer__links {
    position: relative;
    margin-right: auto;
    width: 28%;
    list-style: none;
    padding-bottom: 0.4rem;
    padding-right: 2%;
    display: inline-flex;
    min-width: 34rem;
    /* settings for footer social media links */
}

.footer li {
    margin: 0 1rem;
    /* setting margins between social media icons */
}

@media (min-width: 900px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }
}